<div class="cart-container" *ngIf="cartList.length">
  <div class="cart-item-details">
    <div *ngFor="let item of cartList" class="cart-item">
      <img src="{{ item.url }}" alt="{{ item.name }}" />
      <div class="cart-panel">
        <div class="font-weight-bold mt-2">{{ item.name }}</div>
        <div class="my-3">${{ item.price }}</div>
        <label class="mr-2" for="amount">Amount:</label>
        <input
          class="number-input"
          type="number"
          name="amount"
          id="amount"
          min="0"
          [(ngModel)]="item.amount"
          (ngModelChange)="changeAmount(item)"
        />
      </div>
    </div>
    <h4>Total: ${{ total }}</h4>
  </div>

  <div>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
      <div class="form-margin">
        <label class="font-weight-bold" for="name">Full Name</label><br />
        <input
          class="input-form"
          type="text"
          name="name"
          required
          minlength="3"
          placeholder="(minimun 3 characters)"
          appForbiddenName="name"
          [(ngModel)]="name"
        />
      </div>
      <div class="form-margin">
        <label class="font-weight-bold" for="address">Address</label><br />
        <input
          class="input-form"
          type="text"
          name="address"
          required
          minlength="6"
          placeholder="(minimun 6 characters)"
          appForbiddenName="address"
          [(ngModel)]="address"
        />
      </div>
      <div class="form-margin">
        <label class="font-weight-bold" for="cardNumber"
          >Credit card number</label
        ><br />
        <input
          class="input-form"
          type="text"
          name="cardNumber"
          required
          minlength="16"
          placeholder="(16-digit number)"
          appForbiddenName="cartNumber"
          [(ngModel)]="cardNumber"
        />
      </div>
      <span class="commit form-margin">We'll never share your payment details width anyone else.</span>
      <button class="btn btn-primary" type="submit" [disabled]="form.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
<h4 class="empty-cart-message" *ngIf="cartList.length === 0">
  You have no items in your cart!
</h4>
