<div class="product-container">
  <div class="product-image" routerLink="/products/{{ product.id }}">
    <img
      src="{{ product.url }}"
      alt="{{ product.name }}"
      width="100%"
      height="400"
    />
  </div>
  <div>{{ product.name }}</div>
  <div class="my-3">${{ product.price }}</div>
  <select [(ngModel)]="selectedOption" class="select-input">
    <option *ngFor="let option of options" [value]="option">
      {{ option }}
    </option>
  </select>
  <button class="btn btn-primary" (click)="addToCart(product, selectedOption)">Add to cart</button>
</div>
